/* Dark mode styles */
.dark-switcher {
  font-size: 27px;
  margin-top: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  float: right;
  position: relative;
}

.dark .dark-switcher {
  color: #ffff00;
}
.light .dark-switcher {
  color: #333333;
}
@media (min-width: 992px) {
  .dark-switcher {
  }
}

.dark {
  background-color: #2a2b2d;
  color: #fff;
  transition: all 0.6s ease;
}

.light {
  transition: all 0.6s ease;
  background-color: #fefefe;
  color: #333333;
}

.dark p,h1,h2,h3,a,
.dark a:visited {
  color: #fff;
}

.light p,h1,h2,h3,a,
.light a:visited {
  color: #333333;
}
